/* Import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* Color variables */
:root {
  --clr-primary: green;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;
}

/* Border radius */
:root {
  --radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px var(--clr-gray300);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  width: 430px;
  height: 450px;
}

.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  transition: scale 0.4s linear 0s;
  overflow: hidden;
}

.card__image:hover{
    scale: 1.1;
    height: 12rem;
}



.card__title {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: green;
}

.card__description {
  padding: 0 1rem;
  font-size: 0.95rem;
}

.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid var(--clr-primary);
  background: transparent;
  color: var(--clr-primary);
  border-radius: var(--radius);
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover .card__btn {
  background: var(--clr-primary);
  color: white;
}

@media screen and (max-width: 480px) {  
  .card{
    width: 80%;
    height: 60%;
  }
}